openapi: 3.1.0
x-apievangelist:
  generated: '2026-07-21'
  method: generated
  source: >-
    Hand-authored from Sonarly's published agent onboarding guide at
    https://sonarly.com/llms.txt (fetched 2026-07-21) and the public API
    reference it points to (https://sonarly.com/docs/public-api). Every path,
    parameter, response field and security scheme is taken verbatim from that
    published documentation — nothing is invented. Sonarly publishes no
    machine-readable OpenAPI of its own (sonarly.com/openapi.json returns the
    SPA shell), so this spec is the API Evangelist generation of the documented
    surface.
info:
  title: Sonarly API
  version: '2026-04-30'
  description: >-
    Sonarly turns noisy production alerts into clear, deduplicated bug reports
    and ships fix pull requests. It connects to a team's code (GitHub/GitLab)
    and their error/observability stack (Sentry, Datadog, Grafana, and more),
    then triages, root-causes and fixes alerts automatically. This API covers
    two surfaces: the read-only public REST API (v1) for pulling bugs,
    incidents and analysis runs into your own dashboards, and the device-code
    style setup-session API used to onboard a tenant.
  contact:
    name: Sonarly
    url: https://sonarly.com/docs/public-api
  x-api-version-header-example: '2026-04-30'
servers:
  - url: https://sonarly.com
    description: Production
tags:
  - name: Bugs
    description: Read triaged, deduplicated bugs and their analysis runs.
  - name: Incidents
    description: Read incidents and their analysis runs.
  - name: Setup
    description: Device-code style setup-session API to onboard a tenant.
security:
  - bearerAuth: []
paths:
  /api/v1/public/bugs:
    get:
      operationId: listBugs
      tags: [Bugs]
      summary: List bugs
      description: >-
        List triaged bugs for the authenticated tenant. Cursor paginated.
      parameters:
        - name: limit
          in: query
          description: Page size, 1-100 (default 20).
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
        - name: severity
          in: query
          description: Comma-separated severities to include.
          schema:
            type: string
            example: critical,high
        - name: status
          in: query
          schema: { type: string, enum: [open, resolved] }
        - name: created[gte]
          in: query
          description: Only bugs created at or after this unix-seconds timestamp.
          schema: { type: integer }
        - name: created[lte]
          in: query
          description: Only bugs created at or before this unix-seconds timestamp.
          schema: { type: integer }
        - name: starting_after
          in: query
          description: Pagination cursor of the form bug_<id>.
          schema: { type: string, example: bug_123 }
      responses:
        '200':
          description: A page of bugs.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BugList' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/public/bugs/{id}:
    get:
      operationId: getBug
      tags: [Bugs]
      summary: Retrieve a bug
      parameters:
        - $ref: '#/components/parameters/BugId'
      responses:
        '200':
          description: The bug.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Bug' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/v1/public/bugs/{id}/runs:
    get:
      operationId: listBugRuns
      tags: [Bugs]
      summary: List a bug's analysis runs
      parameters:
        - $ref: '#/components/parameters/BugId'
      responses:
        '200':
          description: The bug's agent-analysis runs.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgentRunList' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/v1/public/bugs/{id}/duplicates:
    get:
      operationId: listBugDuplicates
      tags: [Bugs]
      summary: List bugs deduplicated into this bug
      parameters:
        - $ref: '#/components/parameters/BugId'
      responses:
        '200':
          description: Bugs that were deduped into this bug.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BugList' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/v1/public/incidents:
    get:
      operationId: listIncidents
      tags: [Incidents]
      summary: List incidents
      description: Same shape and filters as GET /bugs.
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
        - name: severity
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema: { type: string, enum: [open, resolved] }
        - name: created[gte]
          in: query
          schema: { type: integer }
        - name: created[lte]
          in: query
          schema: { type: integer }
        - name: starting_after
          in: query
          schema: { type: string }
      responses:
        '200':
          description: A page of incidents.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IncidentList' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /api/v1/public/incidents/{id}:
    get:
      operationId: getIncident
      tags: [Incidents]
      summary: Retrieve an incident
      parameters:
        - $ref: '#/components/parameters/IncidentId'
      responses:
        '200':
          description: The incident.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Incident' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/v1/public/incidents/{id}/runs:
    get:
      operationId: listIncidentRuns
      tags: [Incidents]
      summary: List an incident's analysis runs
      parameters:
        - $ref: '#/components/parameters/IncidentId'
      responses:
        '200':
          description: The incident's agent-analysis runs.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgentRunList' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /api/setup/start:
    post:
      operationId: startSetup
      tags: [Setup]
      summary: Start a setup session
      description: >-
        Device-code style. Issues a session plus a user code; the human
        authorizes by signing in at verification_url (which creates their
        tenant).
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                source: { type: string, description: The calling agent's name. }
                stack: { type: object, description: Detected stack profile JSON. }
      responses:
        '200':
          description: Session created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  setup_id: { type: string }
                  verification_url: { type: string, format: uri }
                  user_code: { type: string }
                  interval: { type: integer }
                  expires_in: { type: integer }
  /api/setup/{setup_id}/status:
    get:
      operationId: getSetupStatus
      tags: [Setup]
      summary: Poll setup-session status
      security: []
      parameters:
        - name: setup_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Current session state.
          content:
            application/json:
              schema:
                type: object
                properties:
                  state: { type: string, enum: [pending, authorized, expired] }
                  token: { type: string, description: Setup-scoped bearer token, ~30 min. }
                  tenant_id: { type: integer }
                  connected: { type: object, additionalProperties: { type: boolean } }
  /api/setup/connect-url:
    get:
      operationId: getConnectUrl
      tags: [Setup]
      summary: Mint an OAuth/install link for a provider
      description: >-
        Currently supports provider=sentry and provider=github; other
        providers return 400 while wired incrementally.
      parameters:
        - name: provider
          in: query
          required: true
          schema: { type: string, example: sentry }
      responses:
        '200':
          description: Provider connect URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  provider: { type: string }
                  url: { type: string, format: uri }
        '400': { $ref: '#/components/responses/BadRequest' }
  /api/setup/repos:
    get:
      operationId: listRepos
      tags: [Setup]
      summary: List repositories available to the connected code host
      responses:
        '200':
          description: Repositories.
          content:
            application/json:
              schema:
                type: object
                properties:
                  repos:
                    type: array
                    items:
                      type: object
                      properties:
                        full_name: { type: string }
                        default_branch: { type: string }
  /api/setup/repos/selected:
    post:
      operationId: selectRepos
      tags: [Setup]
      summary: Select repositories for the tenant
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                repos: { type: array, items: { type: string } }
      responses:
        '200':
          description: Selected repositories.
          content:
            application/json:
              schema:
                type: object
                properties:
                  selected: { type: array, items: { type: string } }
  /api/setup/{id}/integrations:
    post:
      operationId: createIntegration
      tags: [Setup]
      summary: Connect an observability / logs / APM backend
      description: >-
        Validates the credentials live and returns 4xx with a clear message on
        bad input. On success auto-provisions that tool's webhook/notification
        rule. backend_type is one of datadog, grafana, signoz, newrelic, gcp,
        cloudwatch, betterstack, mezmo, railway, modal, supabase, langsmith,
        vercel, posthog, database, kubernetes.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                backend_type: { type: string }
                config: { type: object }
      responses:
        '200': { description: Integration connected. }
        '400': { $ref: '#/components/responses/BadRequest' }
  /api/setup/project:
    post:
      operationId: configureProject
      tags: [Setup]
      summary: Set the project's agent instructions
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                agent_instructions: { type: string }
      responses:
        '200':
          description: Saved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  saved: { type: boolean }
                  chars: { type: integer }
  /api/setup/api-key:
    post:
      operationId: createApiKey
      tags: [Setup]
      summary: Mint a read-only public API key
      description: >-
        Returns the key exactly once. Read-only, tenant-scoped. Use it as a
        Bearer token against the public API base.
      responses:
        '200':
          description: The minted key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  key: { type: string, description: Read-only key, prefix sk_live_. }
                  api_base: { type: string, format: uri }
                  is_read_only: { type: boolean }
                  docs: { type: string, format: uri }
  /api/setup/webhook-endpoint:
    post:
      operationId: createWebhookEndpoint
      tags: [Setup]
      summary: Register an outbound webhook receiver
      description: >-
        The URL is SSRF-checked. Returns a signing secret (prefix whsec_) shown
        once.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url: { type: string, format: uri }
                events: { type: array, items: { type: string } }
      responses:
        '200':
          description: Endpoint registered.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
                  secret: { type: string }
                  event_types: { type: array, items: { type: string } }
  /api/setup/{id}/checkout-url:
    get:
      operationId: getCheckoutUrl
      tags: [Setup]
      summary: Get a Stripe checkout URL for a plan
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: plan
          in: query
          required: true
          schema: { type: string, enum: [teams, startup, enterprise] }
      responses:
        '200':
          description: Checkout URL.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url: { type: string, format: uri }
  /api/setup/complete:
    post:
      operationId: completeSetup
      tags: [Setup]
      summary: Finish onboarding
      responses:
        '200':
          description: Completed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  completed: { type: boolean }
                  dashboard_url: { type: string, format: uri }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        Bearer token. For the public API this is a read-only key (sk_live_);
        for the setup API it is the setup-scoped token from GET
        /api/setup/{setup_id}/status.
  parameters:
    BugId:
      name: id
      in: path
      required: true
      schema: { type: string }
    IncidentId:
      name: id
      in: path
      required: true
      schema: { type: string }
  responses:
    Unauthorized:
      description: Missing or invalid bearer token.
    NotFound:
      description: Resource not found.
    BadRequest:
      description: Invalid input; body carries a clear message.
    RateLimited:
      description: >-
        Rate limit exceeded (1000/min). See the RateLimit-* response headers.
  schemas:
    Bug:
      type: object
      description: A triaged, deduplicated production bug.
      properties:
        id: { type: string }
        object: { type: string, example: bug }
        source: { type: string }
        status: { type: string, enum: [open, resolved] }
        severity: { type: string, enum: [critical, high, medium, low, resolved] }
        title: { type: string }
        description: { type: string }
        summary: { type: string }
        user_impact: { type: string }
        root_cause: { type: string }
        suggested_fix: { type: string }
        blame_commit_sha: { type: string }
        fixable_in_code: { type: boolean }
        confidence: { type: number }
        pr_url: { type: string }
        agent_url: { type: string }
        branch_name: { type: string }
        repository: { type: string }
        error_type: { type: string }
        error_message: { type: string }
        occurrence_count: { type: integer }
        total_user_count: { type: integer }
        first_seen: { type: integer, description: unix seconds }
        last_seen: { type: integer, description: unix seconds }
        created: { type: integer, description: unix seconds }
        analyzed_at: { type: integer, description: unix seconds }
        sentry_issue_id: { type: string }
        sentry_url: { type: string }
        github_issue_url: { type: string }
        parent_bug_id: { type: string, description: Set when this bug was deduped into another. }
        sonarly_url: { type: string }
    Incident:
      description: An incident; same shape as Bug.
      allOf:
        - $ref: '#/components/schemas/Bug'
    AgentRun:
      type: object
      description: A single agent analysis/fix run for a bug or incident.
      properties:
        id: { type: string }
        mode: { type: string }
        status: { type: string }
        trigger_source: { type: string }
        bug_id: { type: string }
        repository: { type: string }
        branch_name: { type: string }
        pr_url: { type: string }
        pr_merged: { type: boolean }
        analysis:
          type: object
          properties:
            title: { type: string }
            severity: { type: string }
            summary: { type: string }
            user_impact: { type: string }
            root_cause: { type: string }
            suggested_fix: { type: string }
            fixable_in_code: { type: boolean }
        created: { type: integer, description: unix seconds }
        started_at: { type: integer, description: unix seconds }
        completed_at: { type: integer, description: unix seconds }
    ListEnvelope:
      type: object
      properties:
        has_more: { type: boolean }
        next: { type: string, description: Next cursor. }
        url: { type: string }
    BugList:
      allOf:
        - $ref: '#/components/schemas/ListEnvelope'
        - type: object
          properties:
            data: { type: array, items: { $ref: '#/components/schemas/Bug' } }
    IncidentList:
      allOf:
        - $ref: '#/components/schemas/ListEnvelope'
        - type: object
          properties:
            data: { type: array, items: { $ref: '#/components/schemas/Incident' } }
    AgentRunList:
      allOf:
        - $ref: '#/components/schemas/ListEnvelope'
        - type: object
          properties:
            data: { type: array, items: { $ref: '#/components/schemas/AgentRun' } }
